<div class="container">
    <div class="row">
        <div class="col-8">

            <form name="idusuario" (ngSubmit)="agregarDeBuscador()">
                <div class="mb-3">
                    <div class="mb-3">
                        <br>
                        <h3 for="exampleDataList" class="form-label">Agregar peliculas predilectas</h3>
                        <a> A continuación, registra ratings para 10 películas. Conforme los vayas agregando a la lista, podrás calificarlos de 1 a 5. </a>
                        <br>
                        <br>
                    </div>
                    

                    <h5 for="exampleDataList" class="form-label">Buscar Peliculas</h5>
                    <a>Puedes usar esta barra de búsqueda para encontrarlas...</a>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search movies..." [(ngModel)]="seleccion" name="movie" [disabled]="seleccionCompleta">
                    <datalist id="datalistOptions">
                        <div *ngFor="let movie of movies">
                            <option [value]="movie['title']" >
                        </div>
                    </datalist>
                </div>


                <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="calificacion" name="calificacion">
                    <option selected>5</option>
                    <option value="1">4.5</option>
                    <option value="2">4</option>
                    <option value="3">3.5</option>
                    <option value="4">3</option>
                    <option value="5">2.5</option>
                    <option value="6">2</option>
                    <option value="7">1.5</option>
                    <option value="8">1</option>
                    <option value="9">0.5</option>
                    </select>


                <button type="submit" class="btn btn-primary" [disabled]="seleccionCompleta">Agregar</button>
                
                

            </form>

        </div>

        <div class="col">
            <br>
            <h4> Lista artistas seleccionados</h4>
            <ol class="list-group" *ngFor="let seleccionado of seleccionadas">
                <li class="list-group-item">{{seleccionadas.indexOf(seleccionado)+1}}. {{seleccionado['title']}}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 


                    <button type="button" class="btn btn-danger btn me-md-2 btn-sm" (click)="eliminar(seleccionadas.indexOf(seleccionado))">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                          </svg>
                    </button>
                    
                </div>
                </li>
            </ol>

            

            <button type="button" class="btn btn-primary" [disabled]="!seleccionCompleta" (click)="onGuardar()">Guardar Preferencias</button>
        </div>




    </div>
</div>
